body {
    font-family: "Creeper", Arial, sans-serif;
    background-image: url('assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  h1, p {
    transition: all 0.3s; 
    text-shadow: 0 0 5px white; 
  }
  
   p:hover{
    color: white; 
    font-size: 1.5em; 
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1em;
    background-color: #9b59b6; /* Color del botón */
    color: #fff; /* Letras blancas */
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Esquinas redondeadas */
    transition: all 0.3s;
  }
  
  button:hover {
    transform: scale(1.1); /* Agrandar el botón al pasar el mouse */
    background-color: #8e44ad; /* Cambiar color al pasar el mouse */
  }
